version: "1"
services:
  backend:
    container_name: invoicy-backend
    depends_on:
      - mysql_db
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: divyamagwl/invoicy-backend
    environment:
      - PORT=8000
    env_file:
      - ./backend/invoicy/.env
    ports:
      - "8000:8000"
    volumes:
      - ./logs:/app/logs
    command: sh -c "sleep 10 && chmod +x /app/migrate.sh && sh /app/migrate.sh && sh /app/entrypoint.sh"
  mysql_db:
    container_name: invoicy-mysql-db
    image: mysql
    restart: always
    env_file:
      - ./backend/invoicy/.env
    expose:
      - 3306
    ports:
      - "127.0.0.1:3333:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: