DEBUG=1

MYSQL_DATABASE=invoicy
MYSQL_PASSWORD=Test@1234
MYSQL_ROOT_PASSWORD=Test@1234

# Local Deployment
MYSQL_USER=root
MYSQL_ROOT_HOST=localhost

# Non Local Deployment
# MYSQL_USER=user

# Docker Compose DB
# MYSQL_ROOT_HOST=mysql_db 
# Kubernetes DB
# MYSQL_ROOT_HOST=mysql-db-service
# Azure DB
# MYSQL_ROOT_HOST=invoicy-db.mysql.database.azure.com

MYSQL_PORT=3306

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=test1234
DJANGO_SUERPUSER_EMAIL=admin@gmail.com

SECRET_KEY=django-insecure-!psb)ipv$p3r(a(&c&q^i#-0ea4k+nwi_uiup9$9kxn@qjo#28

GMAIL_APP_PASSWORD=